
html {
    height: 100%;
    margin:0;
    padding:0;
    font-family: 'Lora', sans-serif;
}
/*--NAVBAR--*/
.navbar {
    background-color: #408000;
}
.navbar li {
    font-weight: bold;
}
#navbarText {
    justify-content: end;
}
/*--Index.html Page--*/
.jumbotron {
    background-image:url("../images/smashed-chicken.jpg");
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 80vh;
    margin-top: 0;
}

.overlay {
    height:80%;
    width:70%;
    background-color: rgb(0,0,0, 0.6);
    align-items:center;
    vertical-align: central;
    margin-top: 30px;
}
#recipe_shoutout{
    color:#fff;
    font-weight: 500;
    font-family: 'Lora', sans-serif;
    
}
.jumbotron h2 {
    color:#fff;
    font-family: 'Lora', sans-serif;
}
.jumbotron p {
    color:#fff;
    font-weight: 300; 
}
h2 {
    color: #4f4f4f;
    font-family: 'Caladea', sans-serif;
}
/*--recipes.html--*/
#individual_recipe {
    background-color: #f2f2f2;
    font-family: 'Roboto Slab', serif;
}
.recipe_title {
    color:#408000;
    padding: 10px;
}
.recipe_images {
    width:70%;
}
.methods {
background-color: rgb(0,0,0, 0.2);
}
.ingredients ul{
list-style-type: none;
}

.fa {
color: #408000!important;
}
.ingredients_methods {
background-color:#408000;
color: #fff;
padding:30px;
}
