
html {
    height: 100%;
    margin:0;
    padding:0;
    font-family: 'Lora', sans-serif;
}
/*--NAVBAR--*/
.navbar {
    background-color: #408000;
}
.navbar li {
    font-weight: bold;
}
#navbarText {
    justify-content: end;
}
/*--FOOTER--*/
#footer-details {
    background-color: #f2f2f2;
}
#follow_me{
    font-style: italic;
    font-family: 'Dancing Script', sans-serif;
    font-size: 25px;
    color: #404040;
}
/*--Index.html Page--*/
.jumbotron {
    background-image:url("../images/smashed-chicken.jpg");
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 80vh;
    margin-top: 0;
}

.overlay {
    height:80%;
    width:70%;
    background-color: rgb(0,0,0, 0.6);
    align-items:center;
    vertical-align: central;
    margin-top: 30px;
}
#recipe_shoutout{
    color:#fff;
    font-weight: 500;
    font-family: 'Lora', sans-serif;
    
}
.jumbotron h2 {
    color:#fff;
    font-family: 'Lora', sans-serif;
}
.jumbotron p {
    color:#fff;
    font-weight: 300; 
}
h2 {
    color: #4f4f4f;
    font-family: 'Caladea', sans-serif;
}
/*--register.html --*/
#join {
    padding:50px;
    margin-top: 50px;
    margin-bottom:50px;
    height: 100vh;
    background-color: #f7ffe6;
}
legend{
    color:#408000;
    font-weight: 100;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif
}
.form-control {
    justify-content: center;
}

/*--login.html--*/
#signin {
    padding:50px;
    margin-top: 50px;
    margin-bottom:50px;
    height: 100vh;
    background-color: #f7ffe6;
    color: #000;
    border: 2px solid #408000;
}
/*--recipe.html--*/
#individual_recipe {
    background-color: #f2f2f2;
    font-family: 'Roboto Slab', serif;
}
.recipe_title {
    color:#408000;
    padding: 10px;
}

.img-fluid {
    max-width: 100%; 
    height: auto;}

.methods {
background-color: rgb(0,0,0, 0.2);
}
.ingredients ul{
list-style-type: none;
}

.fa {
color: #408000!important;
}
.ingredients_methods {
background-color:#408000;
color: #fff;
padding:30px;
}
/*--allrecipes.html--*/
#recipe_pagination.page-item {
    color: #408000;
}
/*--addrecipe.html--*/
#add_recipe  h1 {
    color: #408000;
    padding-top: 30px;
}

#add_recipe label {
    border-color: #408000;
}

.my_recipetitle {
    border-color: #408000;
    border-width: 2px;
    border-style: solid;
}
.card-header {
    background-color: #D2FFA6;
}