<footer class="footer mt-auto">
<div id="footer-details" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 inline-block">
            <div class="row justify-content-center footer-icons my-4">
                <p class="follow_me text-left mx-3">Follow Me</p>
              <a href="http://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square text-white fa-2x mx-2"></i></a>
              <a href="http://www.instagram.com/" target="_blank"><i class="fa fa-instagram text-white fa-2x mx-2"></i></a>
              <a href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter text-white fa-2x mx-2"></i></a>
              <a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest-square fa-2x  mx-2"></i></a>
              <p  class=" follow_me text-right mx-3">Busy Capel</p>
             </div>
        </div>
    </div>
</div>
</footer>