{% extends 'base.html' %} {% block content %}
{% block nav %} {% include 'nav.html' %} {% endblock %}

<section class="container-fluid p-0">
    <div class="jumbotron"> 
        <div class="overlay mx-auto p-5">
            <h1 id="recipe_shoutout" class="display-4">High Protein Recipes</h1>
            <hr class="my-4">
            <h2>Fill your day with high protein food!</h2>
            <p>High protein diet helps to boost body metabolism and increase fat burning.  It also reduces appetite and hunger levels as well as increase musle mass and strength.</p> 
            <p>You can easily increase your protein intakes with simple recipes here. </p>
                <a class="btn btn-light" role="button" href="{{url_for('get_recipes')}}">Browse Recipes</a>
        </div>
    </div>
</section>

<section class="container">
    <h2 id="inspired" class="text-center pt-3 pb-1 font-italic"> Be Inspired...</h2>
    <p class="text-center text-muted pb-4">Quick and Easy</p>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-sm-12 col-md-3">
            <div class="card text-center">
                    <img class="card-img-top" src="{{recipe.image}}" alt="Card image cap"></img>
                <div class="card-body">
                    <a class ="card-title text-success" href="{{url_for('get_recipes', recipe_id=recipe._id)}}">{{recipe.recipe_name}}</a>
                </div>
            </div>       
        </div>
         {% endfor %}  
    </div> 
    <div class="row">
    <div class="col-sm-12 text-center p-5">
    <a class="btn btn-outline-dark" role="button" href="{{url_for('get_recipes')}}"> More Recipes here</a>
    </div>
    </div>
</section>
{% block footer %} {% include 'footer.html' %} {% endblock %}
{% endblock %}