{% extends 'base.html' %}
{% block content %}

<!--NAVBAR-->
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
      <a class="navbar-brand" href="#">Busy Capel</a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
            </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href=".html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Recipes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!--SHOUTOUT JUMBOTRON-->
  <section id="shoutout">
    <div class="jumbotron jumbotron-fluid">
      <div class="overlay mx-auto p-5">
        <div class="container">
          <h2 class="display-5  my-2 recipe_shoutout">High Protein Recipes</h2>
          <p class="lead mx-auto">Fill your day up with high protein food</p>
          <p><a id="browse" class="btn btn-success mx-auto" href="#" role="button"> Browse Recipes</a></p>
        </div>
      </div>
{% endblock %}