{% extends 'base.html' %} {% block content %}
<div class="container my-4">
<div class="row d-flex justify-content-center">
{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} p-3 mb-2">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
    </div>
</div>
<div  class="container single_recipe"> 
    <div class="row p-1 d-flex justify-content-center border border-success rounded bg-light">
        <h1 class="recipe_title">{{recipe.recipe_name}}</h1>
    </div>

    <div class="row my-3 ml-2 d-flex justify-content-center">
        <div class="col-md-6">
            {% if recipe.recipe_image %}
            <img class= "img-fluid p-3 recipe_image" src="{{recipe.recipe_image}}" alt= "alternative-images">
            {% else %}
                 <img src="{{ url_for('static', filename='images/chilli-pots.jpg') }}" class="img-fluid" alt="alternative-image">
            {% endif %}
        </div>
        <div class ="col-md-3 col-sm-12 text-center align-items-center p-2 my-3">
                <i class= "fa fa-cutlery fa-2x"></i>
            <p>Category: {{recipe.categories}}</p>
                <i class= "fa fa-spoon fa-2x"></i>
            <p>Serving Portion: {{recipe.serving_portion}}</p>
        </div>
        <div class ="col-md-3 col-sm-12 text-center p-2 my-3">
                <i class= "fa fa-clock-o fa-2x"></i>
            <p>Preparation time: {{recipe.preparation_time}}</p>
                <i class= "fa fa-fire fa-2x"></i>
            <p>Cooking time: {{recipe.cooking_time}}</p>
        </div>
    </div>
    <div class=" row ingredients_methods">
        <div class= "ingredients col-md-6 col-sm-12 text-center">
            <h3 class="text-center">Ingredients</h3>
            <ul class=" recipe_ingredients mx-3">
                {% for ingredient in recipe.ingredients %}
                <li>
                {{ ingredient }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class= "methods col-md-6 col-sm-12">
            <h3> Methods</h3>
            <ol class="recipe_methods  ml-auto">
                {% for method in recipe.methods %}
                <li>
                {{method}}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row mt-5">
        <div class= "col-md-12 inline-block  d-flex justify-content-center my-3">
                    <a class ="btn btn-warning p-2 mr-5" href="{{url_for('edit_myrecipe', account_id=recipe._id)}}">EDIT RECIPE</a>
                    <a class ="btn btn-danger p-2" href="{{url_for('delete_recipe', account_id=recipe._id)}}">DELETE</a>

</div>
{% endblock %}

