{% extends 'base.html' %} {% block content %}
<div class="container my-5">
<div class="row d-flex justify-content-center">
{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} p-3 mb-2">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
    </div>
</div>
<div id="individual_recipe" class="container"> 
    <div class="row d-flex justify-content-center">
        <h1 class="recipe_title">{{recipe.recipe_name}}</h1>
    </div>

    <div class="row my-5 ml-2 d-flex justify-content-center">
        <div class="col-md-6">
            <img class= "recipe_image" src="{{recipe.image}}" alt= "smashed-chicken.jpg" class = "img-fluid p-3">
        </div>
        <div class ="col-md-3 col-sm-12 text-center align-items-center p-2 my-3">
                <i class= "fa fa-cutlery fa-2x"></i>
            <p>Category: {{recipe.categories}}</p>
                <i class= "fa fa-spoon fa-2x"></i>
            <p>Serving Portion: {{recipe.serving_portion}}</p>
        </div>
        <div class ="col-md-3 col-sm-12 text-center p-2 my-3">
                <i class= "fa fa-clock-o fa-2x"></i>
            <p>Preparation time: {{recipe.preparation_time}}</p>
                <i class= "fa fa-fire fa-2x"></i>
            <p>Cooking time: {{recipe.cooking_time}}</p>
        </div>
    </div>
    <div class=" row ingredients_methods">
        <div class= "ingredients col-md-6 col-sm-12 text-center">
            <h3 class="text-center">Ingredients</h3>
            <ul class=" recipe_ingredients mx-3">
                {% for ingredient in recipe.ingredients %}
                <li>
                {{ ingredient }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class= "methods col-md-6 col-sm-12">
            <h3> Methods</h3>
            <ol class="recipe_methods  ml-auto">
                {% for method in recipe.methods %}
                <li>
                {{method}}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}

