{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
<div class="row d-flex justify-content-center">
{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} p-3 mb-2 bg-warning text-dark">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
    </div>
</div>
 <div id="join" class="container justify-content-center">
    <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-12 d-flex justify-content-center">
        <form method="POST" action="{{ url_for('register')}}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-3">CREATE NEW ACCOUNT</legend>
                <p class="text-muted text-center font-italic h5 mb-3">to save your own recipes</p>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group text-right">
                {{ form.submit(class="btn btn-outline-success") }}
                <div class="border-top mt-3 pt-2">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
            </div>
        </form>
    </div>
    
    </div>
</div>
{% endblock content %}

